body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url( "C:\Users\jai shree ram\Downloads\page1.jpg") no-repeat;
    background-size: cover;
}

.loginbox{
    width: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    color: black;
}